@model UserTask
@{
    ViewData["Title"] = "EditForm";
}

<h1>Edit Your Task</h1>
<div class="form">
    <form asp-controller="Task" asp-action="Edit" class="px-4 py-3" method="post">
        <div class="form-group">
            <label>Task Description</label>
            <textarea class="md-textarea form-control" rows="3" asp-for="TaskDescription" required>@Model.TaskDescription</textarea>
        </div>
        <div class="form-group">
            <label>Due Date</label>
            <input id="add" type="date" asp-for="DueDate" />
        </div>
        <input type="submit" class="btn btn-dark" value="Submit Task" />
    </form>
</div>

